@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root {
  --header-height: 50px;
  --first-color: salmon;
  --second-color: rgb(29, 47, 56);
  --body-font: "DM Sans";
  --big-font-size: 30px;
  --h2-font-size: 20px;
  --normal-font-size: 18px;
  --smaller-font-size: 15px;
  --mf-1: 18px;
  --mf-2: 30px;
  --mf-3: 40px;
  --mf-4: 50px;
  --z-back: -1;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 60px;
    --h2-font-size: 30px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1, h2, p {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mf-1);
  margin-bottom: var(--mf-2);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 3px;
  left: 0;
  right: 0;
  margin: auto;
  top: 30px;
  background-color: var(--first-color);
}

.section {
  padding-top: 50px;
  padding-bottom: 30px;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mf-1);
  margin-right: var(--mf-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(29, 47, 56, 0.35);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 30px;
    background-color: var(--second-color);
    transition: 0.5s;
  }
  .nav__list{
    display: none;
  }
  .nav__toggle{
    display: block;
  }
}
.nav__item {
  margin-bottom: var(--mf-2);
}
.nav__link {
  position: relative;
  color: #fff;
}
.nav__link:hover {
  position: relative;
}
.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  top: 30px;
  background-color: var(--first-color);
}
.nav__toggle {
  color: var(--second-color);
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.show {
  right: 0;
}

.home {
  position: relative;
  row-gap: 80px;
  padding: 60px 0 80px;
}
.home__data {
  align-self: center;
}
.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mf-3);
}
.home__title__color {
  color: var(--first-color);
}
.home__social {
  display: flex;
  flex-direction: column;
}
.home__social-icon {
  width: max-content;
  margin-bottom: var(--mf-1);
  font-size: 22px;
  color: var(--second-color);
}
.home__social-icon:hover {
  color: var(--first-color);
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
}
.home__blob {
  fill: var(--first-color);
}
.home__blob-img {
  width: 360px;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 15px 40px;
  font-weight: 600;
  border-radius: 12px;
  transition: 0.3s;
}
.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.35);
}

.about__container {
  row-gap: 30px;
  text-align: center;
}
.about__subtitle {
  margin-bottom: var(--mf-1);
}
.about__img {
  justify-self: center;
}
.about__img img {
  width: 50px;
  border-radius: 12px;
}

.skills__container {
  row-gap: 30px;
  text-align: center;
}
.skills__subtitle {
  margin-bottom: var(--mf-1);
}
.skills__text {
  margin-bottom: var(--mf-2);
}
.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 600;
  padding: 12px ;
  margin-bottom: var(--mf-2);
  border-radius: 12px;
  box-shadow: 2px 4px 25px rgba(14, 36, 49, 0.15);
}
.skills__icon {
  font-size: 30px;
  margin-right: var(--mf-1);
  color: var(--first-color);
}
.skills__names {
  display: flex;
  align-items: center;
}
.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 5px;
  border-radius: 12px;
  z-index: var(--z-back);
}
.skills__img{
  width: 50px;
  height: 50px;
}
.skills__html {
  width: 50%;
}
.skills__css {
  width: 50%;
}
.skills__py {
  width: 50%;
}
.skills__pic {
  border-radius: 12px;
}

.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: 600;
  padding: 18px;
  border-radius: 12px;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mf-2);
}
.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 30px 0;
}
.footer__title {
  font-size: 30px;
  margin-bottom: var(--mf-1);
}
.footer__social {
  margin-bottom: var(--mf-2);
  display: flex;
  justify-content:center
}
.footer__social__icon{
  width: 20px;
  height: 20px;
  margin: var(--mf-1);
}
.footer__icon {
  font-size: 22px;
  color: #fff;
  margin: 0 var(--mf-1);
}
.footer__copy {
  font-size: var(--smaller-font-size);
}

@media screen and (max-width: 320px) {
  .home {
    row-gap: 30px;
  }
  .home__img {
    width: 50px;
  }
}
@media screen and (min-width: 576px) {
  .home {
    padding: 60px 0 30px;
  }
  .home__img {
    width: 300px;
    top: 5%;
  }
  .about__container {
    align-items: center;
  }
  .skills__container {
    grid-template-columns: 0.7fr;
    justify-content: center;
    column-gap: 8px;
  }
  .contact__form {
    width: 360px;
    padding-top: 30px;
  }
  .contact__container {
    justify-items: center;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .section-title {
    margin-bottom: var(--mf-4);
  }
  .section-title::after {
    width: 80px;
    top: 50px;
  }
  .nav {
    height: 70px;
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mf-4);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  .home {
    padding: 120px 0 30px;
  }
  .home__img {
    width: 400px;
    top: 20%;
  }
  .about__container {
    padding-top: 30px;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    align-items: center;
    text-align: initial;
  }
}
@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 160px 0 30px;
  }
  .home__img {
    width: 450px;
  }
}